.sidebar{
    background-color: #CFECE7;
    width: 17vw;
    height: 100vh;
}

.side-logo {
    margin: 3vh 0 5vh 0;
}
.side-logo img {
    width: 15vw;
    margin: 0 1vw;
}

.index {
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 10fr;
    margin: 1vw;
    padding: 1.5vw;
    border: 2px solid #CFECE7;
    border-radius: 10px;
    background-color: #CFECE7;
}
.index:has(.char.active) {
    border: 1px solid #909395;
    background-color: white;
}
.image {
    width: 2vw;
}
.char {
    font-size: 100%;
    text-decoration: none;
    color: black;
}