.mlogo {
    display: flex;
    margin: 6vh 4vw 2vh 4vw;
}
.mlogo1 {
    width: 5vw;
    margin-right: 2vw;
}
.mlogo2 {
    width: 10vw;
}

.slogan {
    margin: 2vh 4vw;
    font-size: 3.5vw;
    font-weight: 600;
}
.intro {
    margin: 2vh 4vw;
    font-size: 1vw;
}

.sign {
    display: flex;
    justify-content: center;
}
.in, .up {
    margin: 3vh 3vw;
    padding: 1.5vh 2.5vw;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid #39B19D;
}
.in {
    color: black;
}
.up {
    background-color: #39B19D;
    color: white;
}

.in:hover {
    background-color: #39B19D;
    color: white;
    transition-duration: 0.5s;
}
.up:hover {
    background-color: white;
    color: black;
    transition-duration: 0.5s;
}